<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Easy-Sync!</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/easysync.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Play&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md py-2">
        <div class="container">
            <a href="/" class="navbar-brand">Easy Sync!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-2">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="http://github.com/guptasajal411/easy-sync" class="nav-link" target="_blank">GitHub</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link">
                            <form action="/user/<%= userID %>/signOut" method="POST">
                                <div class="anim-btn">
                                    <button class="anim-btn__button">Sign Out</button>
                                    <div class="anim-btn__overlay"></div>
                                </div>
                            </form>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <h2 class="josefin">Welcome, <%= username %>
        </h2>
        <form action="/user/<%= userID %>" method="POST" class="play">
            <input name="newtext" type="text" id="myInput" class="clipboard px-2 py-3" placeholder="Paste here..."
                required>
            <div class="anim-btn">
                <button class="anim-btn__button">Sync your text!</button>
                <div class="anim-btn__overlay"></div>
            </div>
        </form>
        <ul class="p-0 text-start">
            <% syncs.forEach(function(sync){ %>
                    <form action="/user/<%= userID %>/deleteText" method="POST">
                        <button name="delete text button submit" value="<%= sync.syncedText %>" type="submit" class="btn btn-outline-dark">
                            <img src="https://img.icons8.com/material-rounded/24/000000/trash.png"/>
                        </button>
                    </form>
                <li>
                    <p class="mb-0">
                        <%= sync.syncedText %>
                    </p>
                </li>
            <% }); %>
        </ul>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>
